%h1 Редактировать пользователя

= simple_form_for @user, html: { id: 'user_form', class: 'form-horizontal', role: 'form' } do |f|
  = f.input :name, label: 'Имя', autofocus: true
  = f.input :email, label: 'Email'
  = f.input :contacts, label: 'Контакты'
  = f.input :comment, label: 'Примечание'
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Сохранить', class: 'btn btn-primary'
      = link_to 'Отмена', users_path, class: 'btn btn-default'
