= link_to 'Добавить', new_user_path, class: 'btn btn-primary'

%h1 Пользователи

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th
      \#
    %th
      Имя
    %th
      Email
    %th
      Контакты
    %th
      Примечания
    %th

  - @users.each_with_index do |user, index|
    %tr
      %td
        = index + 1
      %td
        = user.name
      %td
        = user.email
      %td
        = user.contacts
      %td
        = user.comment
      %td

