= link_to 'Добавить', new_course_path, class: 'btn btn-primary'

%h1 Курсы

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th
      \#
    %th
      Название
    %th
      Длительность
    %th
      Дата последнего набор
    %th
      Дата следующего набора
    %th

  - @courses.each_with_index do |course, index|
    %tr
      %td
        = index + 1
      %td
        = course.name
      %td
        = course.duration
      %td
        = course.last_set
      %td
        = course.next_set
      %td

