%h1 Новый курс

= simple_form_for @course, html: { id: 'user_form', class: 'form-horizontal', role: 'form' } do |f|
  = f.input :name, label: 'Название', autofocus: true
  = f.input :duration, label: 'Длительность'
  = f.input :last_set, label: 'Дата последнего набора'
  = f.input :next_set, label: 'Дата следующего набора'
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Сохранить', class: 'btn btn-primary'
      = link_to 'Отмена', courses_path, class: 'btn btn-default'
