%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %ul.dropdown-menu
            %li= link_to 'Пользователи', users_path
            %li= link_to 'Курсы', courses_path
