!!!
%html
  %head
    %meta(charset="utf-8")
    %title Eduson
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: 'layouts/main_menu'
    -#= render partial: 'shared/top_bar'
    -#= render partial: 'shared/flash_messages'
    -#= render partial: 'shared/layout_js'
    .container
      .page-content
        -#= render partial: 'layouts/flash_messages'
        = yield
