<!DOCTYPE html>
<html>
  <head>
    <title>Eduson</title>
    <%= csrf_meta_tags %>

<<<<<<< HEAD
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
=======
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
>>>>>>> 0e9470dfc6daf03fb11b7ef5e4713998f92af27d
  </head>

  <body>
    <%= yield %>
  </body>
</html>
